<div class='md-container-activity md-card-default'>
  <div class='flex flex-col space-y-2'>
    <span class='t-subtitle text-st-90'>Historial de Actividades</span>
    <span class='t-body text-st-60'>Trazabilidad del proceso de validación de tu cuenta.</span>
  </div>
  <div class='md-card-list-notify'>
    <div class='md-card-history'>
      <ng-template [ngIf]="tracking.length" [ngIfElse]="empty">
        <div *ngFor="let trx of tracking" class='md-history'>
          <span class="md-history-tag text-trx-{{trx.type}}">{{trx.action}}</span>
          <span class='md-history-text'>{{trx.description}}</span>
          <span class='md-history-date'>{{trx.created_at | date: 'medium': 'UTC'}}</span>
        </div>
      </ng-template>
      <ng-template #empty>
        <div class='md-history'>
          <span class='md-history-tag text-alert-warning'>Sistema</span>
          <span class='md-history-text'>No hay registros disponibles o no se ha iniciado el proceso de validación</span>
          <span class='md-history-date'>{{currentDate.toUTCString()}}</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
